
.vsconfig

.vs/CarProject/v16/.suo

Assembly-CSharp.csproj

Library/

Temp/UnityLockfile

Temp/UnityTempFile-2f0e36e4d5b5ab649b1df4971fb05254

Temp/__Backupscenes/

Temp/UnityTempFile-0f0da5f04ddce2c438f2129548ae6fdc

Temp/
